*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Open Sans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
}

body{
    background-color: #E5E5E5;
    font-family: 'Open Sans', sans-serif;
}


header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    color: #545454;

   

}
.centro{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 70px;
}

header ul{
    margin-right: 169px;
    margin-left: auto;
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-top: 25px;

}
header ul .sobre, .contato{
    margin-left: 48px;
}

header svg{
    margin-left: 140.69px;
    margin-top: 14.4px;
    margin-bottom: 13px;
}

main{
    display: flex;
    justify-content: center;
}
.content{
    width: 1160px;
    height: 2168px;
    background-color:  #E5E5E5;
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 56px;
    box-sizing: border-box;
    margin-bottom: 64px;

}

.meio{
    width: 730px;
    height: 2168px;
    background-color: #E5E5E5;
}

.contatos{
    width: 730px;
    min-height: 998px;
    
    background-color:#FFFFFF;
    position: relative;
    
   
}

.contatos h1{
    padding: 24px 374px 8px 24px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    
}

 .paragrafo1 p{
    color: #545454;
    font-size: 14px;
    font-weight: 400;

}

.paragrafo1 p{
    padding: 24px 24px 16px 24px;
}

.informacoes{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 24px;
}
.informacoes ul{
    padding-left: 24px;
    margin-bottom: 13px;
    font-size: 14px;

}
.informacoes h2{
    padding-bottom: 26px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;

}

.endereco, .telefone, .suporte{
    font-size: 14px;
}
.endereco ul, .telefone ul, .suporte ul{
    font-size: 14px;
}
.endereco{
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    list-style-image: url(./assets/localizacao.png);
    
}
.telefone{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    list-style-image: url(./assets/telefone.png);
}
.suporte{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    list-style-image: url(./assets/headset.png);
}

.contatos{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.botao button:hover{
    background-color: #fe0078;;
    color: #FFFFFF;
}

.botao button{
    border-radius: 20px;
    width: 93px;
    height: 43px;
    border: 1px solid #fe0078;
    background-color: #FFFFFF;
    z-index: 1;


}

.entreemcontato{
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    margin-left: 24px;
}

.entreemcontato h2{
    font-size: 16px;
    font-weight: 700;
    color: #000000;

}
.form1, .form2{
    display: flex;
    
}
.form1 .label1, .form1 .label2{
    display: flex;
    padding-top: 24px;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
}


 .form1 .input1 input, .form1 .input2 input{
    display: flex;
    width: 329px;
    height: 42px;
    margin-bottom: 24px;
}
.form2 .input1 input{
    display: flex;
    height: 42px;
    width: 682px;
}

.form2 .label1{
    display: flex;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
}

.form1 .input1, .form1 .label1{
    padding-right: 24px;
    
}

.label{
    padding-top: 24px;
    padding-bottom: 8px;
}

.txtarea{
    display: flex;
    flex-direction: column;
}

.label textarea{
    font-size: 14px;
    font-weight: 400;
}

.txtarea textarea{
    width: 682px;
    height: 176px;
}

.entreemcontato input:hover, textarea:hover{
    cursor: pointer;
    color: #fe0078;
    border-color: #fe0078;
}

.botao{
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 24px;
    padding-right: 0px;
}

span{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
    
}

.esquerda{
    width: 380px;
    height: 1396px;
    background-color: #FFFFFF;
    margin-left: 50px;
}

.barrapesquisa, .categorias, .publicidade{
    
    margin-right: 20px;
}
.barrapesquisa{
    width: 340px;
    height: 52px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:#ffffff;

}
.barrapesquisa input{
    width: 340px;
    height: 52px;
    border-radius: 10px;
    border: 0px;
    padding-left: 20px;
    color: #545454;
    box-sizing: border-box;
    border: 1px solid #eeeeee;  
    
    

}   
    .barrapesquisa input:hover{
        border-color: #fe0078;
    }

.categorias{
    width: 349px;
    height: 362px;
    margin-bottom: 40px;
    margin-left: 20px;
    background-color: #FFFFFF;
    
    
}
.categorias h2, .publicidade h2{
    border-left: 2px solid #fe0078 ;
    padding-left: 11px;
}

.listas{
   list-style: none;
    padding-right: 18px;
    margin-top: 18px;
}

.listas ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted #eeeeee;
    padding-bottom: 16px;
    margin-left: 13px;
    padding-left: 0px;
    padding-top: 16px;
}
.listas ul li:hover{
    color: #fe0078;
    border-color: #fe0078;

}

.listas ul .l1, .l2{
    border-bottom: 2px dotted #eeeeee;
}
.publicidade{
    width: 340px;
    height: 857px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-color: #FFFFFF;

}
.publicidade ul li{
    width: 340px;
    height: 240px;
    margin-bottom: 32px;    
    list-style: none;
    background-color: #eeeeee;
    font-size: 36px;
    font-weight: 400;
    color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
}

.publicidade h2{
    margin-bottom: 35px;
    padding: 6px;
}
.publicidade ul :last-child{
    margin-bottom: 0px;
}
footer{
    background-color: #222222;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
   
}
footer p{
    color: #FFFFFF;
    font-size: 14px;
    
}

.centro1{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 1440px;
    height: 70px;
    
}

