header{
    width: 1440px;
    height: 70px;
    background-color: aqua;
    display: flex;
    

}

header ul{
    margin-right: 169px;
    margin-left: auto;
    display: flex;
    list-style: none;
    flex-direction: row;

}
header ul .sobre, .contato{
    margin-left: 48px;
}

header svg{
    margin-left: 140.69px;
}
.content{
    width: 1160px;
    height: 2168px;
    background-color: bisque;
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 56px;
    box-sizing: border-box;
    margin-bottom: 64px;

}

.meio{
    width: 730px;
    height: 2168px;
    background-color: chartreuse;
}

.card1, .card2, .card3{
    width: 730px;
    height: 696px;
    background-color: crimson;
    border: 2px solid black;

}

.card1, .card2{
    margin-bottom: 40px;
}

.esquerda{
    width: 380px;
    height: 1396px;
    background-color: darkgreen;
    margin-left: 50px;
}

.barrapesquisa, .categorias, .publicidade{
    
    margin-right: 20px;
}
.barrapesquisa{
    width: 340px;
    height: 52px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:#ffffff;
    border-radius: 10px;    

}
.barrapesquisa input{
    width: 340px;
    height: 52px;
    border-radius: 10px;
    border: 0px;
    padding: 0px 0px 0px 20px;
    color: #545454;
    box-sizing: border-box;
    
    

}

.categorias{
    width: 349px;
    height: 362px;
    margin-bottom: 40px;
    margin-left: 11px;
    background-color: darkcyan;
}

.publicidade{
    width: 340px;
    height: 857px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-color: darkorchid;

}
footer{
    width: 1440px;
    height: 70px;
    background-color: blue;
   
}